<div class="container">
  <header>
    <h2>Creature Features</h2>
    <h4>Animal News Stories</h4>
  </header>

  <h5>See the latest stuff from National Geographic's animal section. Because animals are the best!</h5>

  <button class="refresh-btn">Latest Articles</button>
  <button class="get-saved-btn">Saved Articles</button>
  <br>
  <h3>Articles:</h3>
  <ul>
    {{#each articles}}
    <h6 class="pub-date">{{this.pub_date}}</h6>
    <h3 class="headline">{{this.headline}}</h3>
    <p class="summary">{{this.summary}}</p>
    <button class="save-article-btn">Save Article</button>
    <button class="add-note-btn">Add Note</button>
    <a href="https://www.nationalgeographic.com.au{{this.url}}" target="_blank">Read Article</a>
    <div class="note">
      {{!-- <div class="add-note">
        <div class="note-input">
          <form>
            <input class="note-name" type="text" placeholder="name">
            <textarea class="note-body" type="text" placeholder="add note"></textarea>
            <button type="button" class="edit-note-btn">Edit</button>
            <button type="button" class="save-note-btn">Save</button>
            <button type="button" class="delete-note-btn">Delete</button>
            <button type="button" class="close-note-btn">X</button>
          </form>
        </div>
        <div class="populated-note">
          <p>{{this.Note</p>
        </div> --}}
    </div>
</div>
{{/each}}
</ul>


</div>